/* Work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

img{
    max-width: 100%;
}

/* Shared Styles */
span {
    color: rgb(249, 79, 164);
}


/* header section styles */

/* nav part styles */

/* header{
    padding: 40px 240px;
} */
.nav-part {
    margin: 20px 0;
    padding: 40px 240px;
    display: flex;
    justify-content: space-between;
}

.logo-part,
.menu-part {

    display: flex;
    justify-content: center;
    gap: 20px;
}

.logo-img {
    margin-top: 15px;
}

.logo-part img {

    width: 90px;
    height: 40px;
    flex-shrink: 0;
}

.menu-part p {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.follow {
    border-radius: 8px;
    padding: 5px 25px;
    background: rgba(11, 2, 35, 0.10);
}

/* banner part styles */

.banner-part {
    background-image: url('/images/Group\ 14.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 120px;
}

.banner-content h2 {
    margin-bottom: 0;
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content h3 {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    margin: 0 0;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-img img {
    width: 100%;
}


.btn-pink {

    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    color: #FFFFFF;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.btn-blue {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}


/* main section styles */
.fun-section {
    margin-bottom: 120px;
}

.fun-title {
    text-align: center;

}

.fun-title h3 {
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 5px;

}

.fun-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}


.fun-img {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.fun-img div {
    margin: 0 12px;
}

.fun-img div img{
    width: 100%;
}

.img-container{
    position: relative;
    display: inline-block;
}
.overlay{
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: -12px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.play-button {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .play-button::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent rgb(132, 6, 69);
  }
  .watch-now-text {
    margin-top: 20px;
    color: white;
    font-size: 18px;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }

.img-container:hover .overlay {
    opacity: 1; 
  }

/* Play section */
.play-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.play-content {
    text-align: right;
    margin-bottom: 270px;
}

.play-content h3 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.play-content p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.big-one {
    display: block;
    margin-left: 144px;
}

.pinky {
    position: relative;
    bottom: 270px;
}

/* Category Section Styles */
.category-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: grid;
  
}


.top-5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


.top-5 div, .bottom-4 div {
    border: 1px solid white;
    background-color: #FFF;
    border-radius: 50px;
    padding: 5px;
    /* padding-right: 10px; */
    margin: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.top-5 div:hover, .bottom-4 div:hover {
    border: 1px solid rgb(253, 64, 159);
    cursor: pointer;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.top-5 div img, .bottom-4 div img {
    margin-right: 15px;
}

.top-5 div span, .bottom-4 div span {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

/* .top-5 div span:hover {
    cursor: pointer;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

/* .bottom-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-4 div{
    margin: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
} */



/* Footer styles */
footer{
    background: #0B0223;
    color: white;
    text-align: center;
    padding: 120px 0;
}

.footer-menu{
    display: flex;
    justify-content: center;
}
.footer-menu li{
    list-style: none;
    margin: 0 30px;
}
footer div i{
    font-size: 24px;
    margin: 40px 20px;
}
.footer-text{
    display: flex;
    justify-content: center;
}
.footer-text li{
    list-style: none;
    margin: 15px 30px;
}
/* Media Query */
/* Mobile devices */

@media screen and (max-width: 425px) {
    
    .nav-part {
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .menu-part {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .logo-part {
        justify-content: center;
    }

    .follow {
        margin: 0 auto;
    }

    .banner-part {
        flex-direction: column-reverse;
        background-image: none;
    }

    .banner-content {
        background-image: url('/images/Group\ 14.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .banner-content h3{
        font-size: 72px;
    }
    .banner-content h2{
            font-size: 32px;
    }

    .btn-pink, .btn-blue{
        font-size: 12px;
    }

    body {
        margin: 0 60px;
    }

    .fun-title h3, .fun-title span{
        font-size: 32px;
    }
    .fun-img{
        display: flex;
        flex-direction: column;
    }

    .play-content h3{
        font-size: 32px;
        text-align: center;
        line-height: 48px;
    }

    .play-content p{
        text-align: center;
        font-size: 14px;
    }
    .play-section{
        flex-direction: column;
    }

    .big-one{
        width: 250px;
    }

    .pinky {
        width: 180px;
        bottom: 160px;
        left: 0px;
    }
    .top-5, .bottom-4{
        grid-template-columns: repeat(3, 1fr);
    }
    .top-5 div span, .bottom-4 div span{
        font-size: 12px;
    }

    .top-5 div img{
        width: 24px;
    }

    .footer-menu{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-text{
        display: grid;
    }

    .footer div i{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .big-one{
        width: 250px;
    }
   
}

@media screen and (max-width: 768px) {
    
    .nav-part {
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .menu-part {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .logo-part {
        justify-content: center;
    }

    .follow {
        margin: 0 auto;
    }

    .banner-part {
        flex-direction: column-reverse;
        background-image: none;
    }

    .banner-content {
        background-image: url('/images/Group\ 14.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    .banner-content h3{
        font-size: 72px;
    }
    .banner-content h2{
            font-size: 32px;
    }

    .btn-pink, .btn-blue{
        font-size: 12px;
    }

    body {
        margin: 0 60px;
    }

    .fun-title h3, .fun-title span{
        font-size: 32px;
    }
    .fun-img{
        display: flex;
        flex-direction: column;
    }

    .play-content h3{
        font-size: 32px;
        text-align: center;
        line-height: 48px;
    }

    .play-content p{
        text-align: center;
        font-size: 14px;
    }
    .play-section{
        flex-direction: column;
    }

    .big-one{
        width: 250px;
    }

    .pinky {
        width: 180px;
        bottom: 160px;
        left: 0px;
    }
    .top-5, .bottom-4{
        grid-template-columns: repeat(3, 1fr);
    }
    .top-5 div span, .bottom-4 div span{
        font-size: 12px;
    }

    .top-5 div img{
        width: 24px;
    }

    .footer-menu{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-text{
        display: grid;
    }

    .footer div i{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .big-one{
        width: 250px;
    }
   
}